.wrapper {
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 211, 184);
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s;
  border-radius: 0.3rem;
  font-weight: 600;
}

.wrapper:hover {
  scale: 1.02;
}

.loader {
  height: 3px;
  width: 75px;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 21% 100%;
  animation: l7 1s infinite alternate;
}
@keyframes l7 {
  0%,
  20% {
    background-position: calc(0 * 100% / 4) 0, calc(1 * 100% / 4) 0,
      calc(2 * 100% / 4) 0, calc(3 * 100% / 4) 0;
  }
  35% {
    background-position: calc(0 * 100% / 4) 0, calc(1 * 100% / 4) 0,
      calc(2 * 100% / 4) 0, calc(4 * 100% / 4) 0;
  }
  50% {
    background-position: calc(0 * 100% / 4) 0, calc(1 * 100% / 4) 0,
      calc(3 * 100% / 4) 0, calc(4 * 100% / 4) 0;
  }
  65% {
    background-position: calc(0 * 100% / 4) 0, calc(2 * 100% / 4) 0,
      calc(3 * 100% / 4) 0, calc(4 * 100% / 4) 0;
  }
  80%,
  100% {
    background-position: calc(1 * 100% / 4) 0, calc(2 * 100% / 4) 0,
      calc(3 * 100% / 4) 0, calc(4 * 100% / 4) 0;
  }
}
