.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  margin: auto;
  margin-top: 6rem;
}

.wrapper input {
  padding: 0.6rem;
  border-radius: 0.3rem;
}

.wrapper button {
  padding: 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.wrapper h1 {
  text-align: center;
  font-weight: 500;
}
